/* static/css/styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    background-color: #f0f9ff; /* Cambia el color para que sea parecido a la imagen */
    padding: 50px 0;
    text-align: center;
}

.titulo-principal {
    font-size: 3em;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 1.5em;
    color: #000000;
    margin-bottom: 30px;
}

.btn-demo {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-demo:hover {
    background-color: #0056b3;
}

.caracteristicas {
    background-color: #fff;
    padding: 50px 0;
}

.caracteristicas h2 {
    font-size: 2em;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.caracteristicas p {
    text-align: center;
    font-size: 1.2em;
    color: #000000;
    margin-bottom: 20px;
}
/* --------------------------------*/